#login {
    position: absolute;
    margin: auto;
    padding: 50px;
    width: 250px;
    height: 400px;
    background-color: white;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 5px 5px 50px silver;
    border-radius: 10px;
    top: 15%;
    right: 10%;
}

.login-table {
    height: 50px;
    width: 100%;
}

.login-text {
    height: 70px;
    color: #757c80;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.login-input {
    margin: 0 auto;
    width: 200px;
    padding: 0;
    border: 1px solid #dfebf2;
    background-color: #fff;
    border-radius: 4px;
}

.submit-left {
    margin-left: 20px;
    float: left;
    width: 40%;
    text-align: center;
    height: 30px;
}

.submit-right {
    margin-right: 20px;
    float: right;
    width: 40%;
    text-align: center;
    height: 30px;
}

.input {
    width: 200px;
    border-style: none;
    outline: none;
}

.submit {
    background-color: #25c6ff;
    border-style: none;
    Color: white;
    height: 30px;
    width: 90px;
    border-radius: 4px;
}
.details{
	top: 15%;
	left: 30%;
	width: 400px;
	padding: 50px;
	border: 1px solid #C0C0C0;
	background-color: white;
	box-shadow: 0 3px 3px #c8c8c8;
	font-family: "宋体";
	display: none;
	position: absolute;
}
.new{
	position: absolute;
	top: 15%;
	left: 35%;
	width: 500px;
	padding: 50px;
	font-family: "宋体";
	border: 5px;
}
.table {
	height: 30px;
	width: 100%;
}
.table1 {
	height: 80px;
	width: 100%;
}
.details-table{
	height: 80px;
	width: 100%;
}

.table-left {
	float: left;
	width: 30%;
	text-align: right;
}

.table-right {
	float: right;
	width: 70%;
	text-align: left;
}
.table-right-1 {
	float: right;
	width: 70%;
	text-align: center;
}
.div2{
	height:70%;
	width:80%;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: -1;
}
.div6{
	position:absolute;
	top:5%;
	left:40%;
}
.iframe{
	height:80%;
	width:70%;
	position:absolute;
	top:10%;
	left:15%;
}
.table-width{
    width:420px;
}
