<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="server=47.100.164.196;database=overtime1;uid=ai;pwd=123"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
	<customErrors mode="Off"/>
  </system.web>
</configuration>